<div class="card mb-3">

  <video autoplay loop>
    <source src="../../../assets/videoresponsive.mp4" type="video/mp4">

  </video>

</div>
<div class="container text-center text-success fs-1" style="font-family: Gill Sans, sans-serif;">
  <h1 class="fw-bold pt-3"> BIENVENUE DANS NOTRE CAMPING</h1>
  <h2>Venez découvrir nos roulottes</h2>
  <p class="fs-5 text-secondary">Eco camp est un camping éco-responsable. Situé dans la Drôme, il propose une
    cohabitation avec des agriculteurs. De roulottes sont à disposition des vacanciers ainsi qu'un point d’eau et des
    toilettes sèches. Deux possibilités s'offrent aux vacanciers pour leur alimentation : Celle de se fournir au marché
    bio ou de récupérer les légumes et fruits sur place, par un travail de la terre et de cueillette.</p>

</div>

<!-- ********************************************************Carte Map********************************************** -->
<div class="container map-responsive me-3 mb-5">
  <iframe class=""
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21699.5764161994!2d5.29104725!3d45.0474643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478abae7a48edf5f%3A0x408ab2ae4bfb770!2s26190%20Saint-Thomas-en-Royans!5e1!3m2!1sfr!2sfr!4v1657889733274!5m2!1sfr!2sfr"
    width="90%" height="600" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>