 <div class="card mb-3">



    



    <!-- <video width="100%"  height="30%" autoplay controls>
      <source src="../../../assets/VideoCamping.mp4" type="video/mp4">
    </video> -->
    <video autoplay loop>
      <source src="../../../assets/VideoCamping.mp4" type="video/mp4">
    </video>










    <div class="card-body">
      <h5 class="card-title">Hippocampia</h5>
      <p class="card-text"> Eco camp est un camping éco-responsable. Situé dans la Drôme, il propose une cohabitation avec des agriculteurs. De roulottes sont à disposition des vacanciers ainsi qu'un point d’eau et des toilettes sèches. Deux possibilités s'offrent aux vacanciers pour leur alimentation : Celle de se fournir au marché bio ou de récupérer les légumes et fruits sur place, par un travail de la terre et de cueillette.</p>
     
    </div>
  </div> 
  