<div class="card bg-dark text-white">
   
    <img src="https://cdn.pixabay.com/photo/2016/04/24/18/03/vegetables-1350275_960_720.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h1 class="card-title text-center">Marché le mercredi et samedi</h1>
      <p class="card-text">Nous travaillons avec de petits producteurs et des coopératives sélectionnés pour leur sérieux et pour la qualité de leurs fruits et légumes, dument certifiés biologiques par les organismes habilités. </p>
     
    </div>
  </div>
