<div class="container">
    <h1 class="text-center text-success m-5">hello ici tous mes reservations sans annulation ... </h1>



    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nom bangalow</th>
            <th scope="col">prix chambre</th>
            <th scope="col">Nombre de nuit </th>
            <th scope="col">Total Sejour</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let b of books">
            <th scope="row">{{b.titre}}</th>
            <td>{{b.price}}</td>
            <td>{{b.nombreDeNuits}}</td>
            <td>{{b.totalPrice}}</td>
          </tr>
        </tbody>
      </table>
</div>
