<!-- **********************************************************Methode Chercher par prix************************** -->
<div class="container mt-5">
    <div class="row ">
        <div class="col-6">
            <form class="row form-inline" #pr="ngForm">
                <div class="col-4">
                    <input type="number" class="form-control" name="min" ngModel placeholder="Prix min ..." value="min">
                </div>
                <div class="col-4"> <input type="number" class="form-control" name="max" ngModel placeholder="Prix max ..."
                        value="max">
                </div>
                <button type="submit" (click)="findbyprice(pr.value)" class="col-auto btn btn-secondary bg-gradient opacity-75 mb-2 border- rounded-circle 50"><i class="fa-solid fa-magnifying-glass-dollar text-warning fa-xl"></i></button>
            </form>
        </div>
    </div>
    
</div>

<!-- µµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµ µµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµ -->

<div class="row ">
<!-- **********************************************Chercher par Catégories******************************************** -->
    <div class="col-1 pt-5 col-sm-2 cat">
        <div class=" border-start opacity-75 w-75"  *ngFor="let c of categories">
            <button class="btn bg-warning bg-gradient mt-2 w-50" (click)=" findByCategories(c)">{{c}}</button>
        </div>

<!-- **********************************************Chercher par mots clés******************************************** -->
        <div class="col-md-6 col-sm-2 mt-5">
            <form class="row form-inline" (ngSubmit)="findbykeyword(f.value)" #f="ngForm">
                <div class="">
                    <input type="text" class="form-control" name="keyword" ngModel placeholder="par mot clé ...">
                </div>
                <button type="submit" class="btn"><i class="fa-solid fa-magnifying-glass text-warning -fa-2xl"></i></button>
            </form>
        </div>
    
    </div>

<!-- ******************************************** les produits (campings)************************************************-->
    <div class="col bg-secondary bg-gradient" *ngFor="let r of reservations | paginate : { itemsPerPage: 3, currentPage: p}">
        <div class="card shadow-sm ">
            <img class="card-img-top img-fluid" width="100%" height="225px" src="{{r.image}}" alt="">
            <div class="card-body">
                <p class="card-text fw-bold text-center fs-2">{{r.titre}}</p>
                <p class="card-text fw-lighter text-start">{{r.type}}</p>
                <div class="d-flex justify-content-between cursor-pointer" data-bs-toggle="collapse"
                    data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <p class="card-text text-secondary fw-normal text-start fs-5 ">{{r.categories}}</p>
                    <i class="fa-solid fa-angle-down"></i>
                </div>
                <p class="card-text text-secondary fw-normal text-start fs-5 collapse" id="collapseExample">
                    {{r.description}}</p>
                <p class="card-text fw-bolder fs-3 text-success">{{r.price}} &euro;</p>
                <div class="d-flex justify-content-between align-items-center">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" id="exampleModal"
                        (click)="recupInfoReservation(r)" data-bs-toggle="modal" data-bs-target="#exModal">
                        Réserver
                    </button>



                    <!-- **************************Formulaire dans bouton réserver************************************ -->








                <!--******************************MODaL ************************************************************ -->
                    <div class="modal fade" id="exModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">


                                    <div class="row">
                                        <div class="col-6">
                                            <strong> Le nom du bungalow : </strong><small>{{reservation.titre}}</small>
                                            <br>
                                            <strong> Le prix du bungalow : </strong><small>{{reservation.price}}</small>
                                        </div>
                                        <div class="col-6">
                                            <strong> Le type de bungalow :
                                            </strong><small>{{reservation.type}}</small><br>
                                        </div>
                                    </div>


                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">



            <!-- ***************************************FORMULAIRE************************************************* -->
                                    <form (ngSubmit)="addBook(f.value)" #f="ngForm">
                                        <div class="mb-3">

                                            <div class="mb-3">
                                                <label for="disabledTextInput" class="form-label">Nom</label>
                                                <input type="text" name="nom" class="form-control" placeholder="..."
                                                    ngModel requiered>
                                            </div>

                                            <label for="disabledTextInput" class="form-label">Date d'arrivée</label>
                                            <input id="datedarrivee" type="date" name="date" class="form-control"
                                                placeholder="..." ngModel requiered>
                                        </div>

                                        <div class="mb-3">
                                            <label for="disabledTextInput" class="form-label">Nombre de nuits
                                                réservées</label>
                                            <input type="number" name="nombreDeNuit" class="form-control"
                                                placeholder="..." ngModel requiered>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Fermer</button>
                                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save
                                                Book !</button>
                                            <!-- addBook, méthode create qui ajoute un objet entièrement dans la base de donnée, dans le deuxième tableau : réseravtions -->
                                        </div>


                                    </form>

                                    <!-- *******************************Fin formulaire*********************** -->
                                </div>

                            </div>
                        </div>

                        <!-- ***************méthode  delete avec id de chambre en paramètre*********** -->
                        <!-- <p class="btn btn-outline-danger ms-3 mb-0" (click)="delete(c.id)">delete</p> -->
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>

<!---------------------------- Pagination-------------------------------------------- -->
<pagination-controls class=" pagination-controls fw-bold fs-6 fst-italic text-secondary bg-gradient" previousLabel="Précédent" nextLabel="Suivant" (pageChange)="changePage($event)">
</pagination-controls>













