<!-- *************************************Navbar******************************** -->

<!-- <div class="row">
    <div id="barrenav" class="border border-dark border-top-0"
        style="height: 120px;font-family: Arial Rounded MT Bold;">
        <nav class="navbar navbar-expand-lg bg-link">

            <div class="container-fluid">
                <img src="../../../assets/Logo6.png" style="width: 250px; z-index: 2;">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
              

                <div class="collapse navbar-collapse d-flex justify-content-between " id="navbarNavDropdown">
                    
                    <div class="fs-2 text-success mb-5 z-index: 2;">HIPPOCAMPIA</div>
                    <a class="navbar-brand ms-5 mb-4 text-warning" href="#">Notre histoire</a>

                    <div class="col-5">
                        <ul class="navbar-nav">
                            <li class="nav-item mt-1 mb-4">
                                <a class="navbar-brand ms-5 "> Réservations </a>
                            </li>
                            <li class="nav-item mt-1 text-secondary ms-5">
                                <a class="navbar-brand text-warning ms-5" href="#" id="navbarDropdownMenuLink"
                                    role="button" data-bs-toggle="dropdown" aria-expanded="false"> Les activités
                                    </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Les randonnées</a>
                                    </li>
                                    <li><a class="dropdown-item" href="#">Le marché bio</a></li>
                                    <li><a class="dropdown-item" href="#">Agriculture et cueillette</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div class="col-2 ">
                        <ul class="navbar-nav ">
                            <li class="nav-item dropdown">
                                <a class="btn btn-light nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Administrateur
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" routerLink="/reservations">Gestion des réservations</a>
                                    </li>
                                    <li><a class="dropdown-item" routerLink="/ajouterunechambre">Ajouter une
                                            roulotte</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </nav>
    </div>
</div> -->





<nav id="navbarToggle" class="navbar navbar-expand-lg bg-white">
  <div class="container-fluid">
    <img class="navbar-brand mt-5 me-0" src="../../../assets/Logo6.png">
    <div class="logo-text fs-2 text-danger">HIPPOCAMPIA</div>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
            <a class="nav-link active fs-2 text-warning" aria-current="page" href="#">HIPPOCAMPIA</a>
          </li> -->
        <li class="nav-item">
          <a class="nav-link ms-5 fs-5" href="#">Réservations</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle ms-5 fs-5" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Les activités
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Les randonnées</a></li>
            <li><a class="dropdown-item" href="#">Le marché bio</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Cueillette et agriculture</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled ms-5 fs-5">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="recherche" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Chercher</button>
      </form>
    </div>
  </div>
</nav>