<!-- *************************************Navbar******************************** -->


<nav id="navbarToggle" class="navbar navbar-expand-lg bg-white shadow-lg p-3 mb-5 bg-body rounded">
  <div class="container-fluid">
    <img class="navbar-brand mt-5 me-0" src="../../../assets/Logo6.png">
    <div class="logo-text fs-2 text-danger">HIPPOCAMPIA</div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ms-5" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-5">
        <li class="nav-item">
          <a class="nav-link ms-5 fs-5" href="#"><strong class="text-success">|</strong> Notre histoire <strong
              class="text-success">|</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link ms-5 fs-5" routerLink="/reservations"><strong class="text-success">|</strong> Réservations
            <strong class="text-success">|</strong></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle ms-5 fs-5" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <strong class="text-success">|</strong> Les activités <strong class="text-success">|</strong>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#" routerLink="/randonnees">Les randonnées</a></li>
            <li><a class="dropdown-item" href="#" routerLink="/marchebio">Le marché bio</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#" routerLink="/agriculture">Cueillette et agriculture</a></li>
          </ul>
        </li>
      </ul>
    </div>


    <!-- //////////////////////////////////////Partie administrateur////////////////////////////////////////////// -->


    <div class="col-2 ms-5">


      <ul class="navbar-nav me-auto ms-3 mb-lg-2">

        <li class="nav-item dropdown">

          <a class="btn btn-light nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" *ngIf="boutonLogin">
            <i class="fa-solid fa-user-shield text-success fa-xl"></i><br> <strong class="text-secondary">Administrateur</strong> 
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

            <li>
              <hr class="dropdown-divider">
            </li>

            <!-- µµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµ à rajouter plus tard peut êtreppppppppppppppppppppppppppppppppppppppppppppppp -->


            <li><a class="dropdown-item" routerLink="/gestiondesreservations">Gestion des réservations</a>
          </li>
            <li><a class="dropdown-item" routerLink="/ajouterunereservation">Edit/Delete</a>
            </li>
          </ul>
        </li>
      </ul>




    </div>






    <!-- message d'alert a déclancher si le username et le motdepasse sont incorrect -->

    <div class="alert alert-primary" *ngIf="alertId" role="alert">
      Votre nom et/ou mot de passe est incorrect
    </div>



    <!-- début modal pour login avec formulaire: username et mot de passe -->


    <!-- Button trigger modal -->
    <div class="d-grid me-5">

      <button type="button" class="btn btn-light succes" data-bs-toggle="modal" data-bs-target="#exampleModal"
        *ngIf="!boutonLogin"> 
        <i class="fa-solid fa-user-shield text-secondary"></i><br> <small class="text-secondary">Login</small>  
      </button>

    </div>



    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> <strong>Identification</strong></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">



            <!-- ***************************************FORMULAIRE************************************************* -->
            <form #f="ngForm">
              <div class="mb-3">

                <div class="mb-3">
                  <label for="disabledTextInput" class="form-label">Username</label>
                  <input type="text" name="Username" [(ngModel)]="recupform.Username" class="form-control"
                    placeholder="..." ngModel requiered>
                </div>

                <label for="disabledTextInput" class="form-label">Mot de passe</label>
                <input type="any" name="Motdepasse" [(ngModel)]="recupform.Motdepasse" class="form-control"
                  placeholder="..." ngModel requiered>

              </div>




              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
                  (click)="validate()">Valider</button>

              </div>





            </form>

            <!-- *******************************Fin formulaire*********************** -->













            <!-- **********************************************Fin nav barre********************************************* -->



          </div>
        </div>
      </div>
    </div>
  </div>
</nav>