

<!-- **************************************************** Table bootstrap pour admin************************************* -->

<div class="container">

    <table class="table">
        <thead>
          <tr>
            
            <th scope="col">photo</th>
            <th scope="col">Nom</th>
            <th scope="col">description</th>
            <th scope="col">type</th>
            <th scope="col">prix</th>
            <th scope="col">Action </th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of reservations ">
            
            <td><img class="card-img-top img-fluid border border-warning  rounded-circle w-50" width="100%" height="225px" src="{{r.image}}" alt=""></td>
            <th scope="row">{{r.titre}}</th>
            
            <td>{{r.description}}</td>
            <td>{{r.type}}</td>
            <td>{{r.price}}</td>
            <td> <button type="button" class="btn btn-sm btn-outline-danger"
                (click)="deleteReservation(r._id)">X</button>
            <button type="button" class="btn btn-sm btn-outline-success" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop" (click)="edit(r)">V</button></td>
            
            
          </tr>
        </tbody>
      </table>
</div>










<!-- dsgfffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff -->
<div>

        <!-- <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 bg-secondary bg-gradient">
          <div class="col" *ngFor="let r of reservations ">
              <div class="card shadow-sm">
                  <img class="card-img-top img-fluid" width="100%" height="225px" src="{{r.image}}" alt="">
                  <div class="card-body">
                      <p class="card-text fw-bold text-center fs-2">{{r.titre}}</p>
                      <p class="card-text fw-lighter text-start">{{r.type}}</p>
                      <div class="d-flex justify-content-between cursor-pointer" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                      <p class="card-text text-secondary fw-normal text-start fs-5 " >{{r.categories}}</p>
                      <i class="fa-solid fa-angle-down"></i>
                  </div>
                      <p class="card-text text-secondary fw-normal text-start fs-5 collapse" id="collapseExample">{{r.description}}</p>
                      <p class="card-text fw-bolder fs-3 text-success">{{r.price}} &euro;</p>
                      <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-danger"
                                  (click)="deleteReservation(r._id)">Delete</button>
                              <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
                                  data-bs-target="#staticBackdrop" (click)="edit(r)">Editer</button>
                          </div>
                          <small class="text-muted">9 mins</small>
                      </div>
                  </div>
              </div>
          </div>

      </div> -->
<!-- *************************************************************************************** -->
      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <form>
                          <div class="mb-3">
                              <label class="form-label">Titre</label>
                              <input type="text" class="form-control" name="titre" [(ngModel)]="rupdate.titre">
                          </div>
                          <div class="mb-3">
                              <label class="form-label">Type</label>
                              <input type="text" class="form-control" name="type" [(ngModel)]="rupdate.type">
                          </div>
                          <div class="mb-3">
                              <label class="form-label">Categories</label>
                              <input type="text" class="form-control" name="categories"
                                  [(ngModel)]="rupdate.categories">
                          </div>
                          <div class="mb-3">
                              <label class="form-label">Description</label>
                              <input type="text" class="form-control" name="description"
                                  [(ngModel)]="rupdate.description">
                          </div>
                          <div class="mb-3">
                              <label class="form-label">Image</label>
                              <input type="text" class="form-control" name="image" [(ngModel)]="rupdate.image">
                          </div>

                          <div class="mb-3">
                              <label class="form-label">Price</label>
                              <input type="number" class="form-control" name="price" [(ngModel)]="rupdate.price">
                          </div>
                      </form>

                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                      <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                          (click)="miseJourR()">Enregister</button>
                  </div>
              </div>
          </div>
      </div>



    </div>






<!-- <div class="container m-10">
    
    <legend class="text-center">AJOUTER UNE RESERVATION</legend>
    <form (ngSubmit) = "saveReservation(reservation)" #reservation="ngForm">              
    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Titre</label>
      <input type="text" name="titre" class="form-control" placeholder="..." ngModel requiered>
    </div>

    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Type</label>
      <input type="text" name="type" class="form-control" placeholder="..." ngModel requiered>
    </div>

    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Description</label>
      <input type="text" name="description" class="form-control" placeholder="...">
    </div>

    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Image</label>
      <input type="text" name="image" class="form-control" placeholder="..." ngModel requiered>
    </div>


    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Catégorie</label>
      <input type="text" name="catégories" class="form-control" placeholder="..." ngModel requiered>
    </div>

    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Prix</label>
      <input type="number" name="price" class="form-control" placeholder="..." ngModel requiered>
    </div>


    <button type="submit" class="btn btn-primary">Ajouter</button>

   </form> 
  </div>
 -->
