<div class="container m-10">
    
    <legend class="text-center">AJOUTER UNE RESERVATION</legend>
    <form (ngSubmit) = "saveReservation(reservation)" #reservation="ngForm">              
    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Titre</label>
      <input type="text" name="titre" class="form-control" placeholder="..." ngModel requiered>
    </div>

    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Type</label>
      <input type="text" name="type" class="form-control" placeholder="..." ngModel requiered>
    </div>

    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Description</label>
      <input type="text" name="description" class="form-control" placeholder="...">
    </div>

    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Image</label>
      <input type="text" name="image" class="form-control" placeholder="..." ngModel requiered>
    </div>


    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Catégorie</label>
      <input type="text" name="catégories" class="form-control" placeholder="..." ngModel requiered>
    </div>

    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Prix</label>
      <input type="number" name="price" class="form-control" placeholder="..." ngModel requiered>
    </div>


    <button type="submit" class="btn btn-primary">Ajouter</button>

   </form> 
  </div>

